<div role='banner' class="header_eidolon">
{{#if @blog.logo}}<a class="logo_eidolon" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
<h1 class="blogtitle_eidolon">
<a title="{{@blog.title}}" href='{{@blog.url}}'>
{{{@blog.title}}}
</a>
</h1>
<h2 class="blogdescription_eidolon">
{{@blog.description}}
</h2>
</div>